<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=640">
<title>Sample</title>

<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/jquery.bxslider.css">

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</head>

<body>
<div id="wrapper">
	<header>
		<ul class="bxslider">
			<li><img src="images/header1.png" alt=""></li>
			<li><img src="images/header2.png" alt=""></li>
			<li><img src="images/header3.png" alt=""></li>
		</ul>
	</header>
	<section id="item">
		<ul>
			<li><a href="https://www.google.co.jp/" target="_blank"><img src="images/item1.png" alt="Google"><span>Google</span></a></li>
			<li><a href="http://www.yahoo.co.jp/" target="_blank"><img src="images/item2.png" alt="Yahoo!"><span>Yahoo!</span></a></li>
			<li><a href="https://aws.amazon.com/jp/" target="_blank"><img src="images/item3.png" alt="AWS"><span>AWS</span></a></li>
			<li><a href="https://github.com/" target="_blank"><img src="images/item4.png" alt="Github"><span>Github</span></a></li>
			<li><a href="http://www.ntv.co.jp/" target="_blank"><img src="images/item5.png" alt="日本テレビ"><span>日本テレビ</span></a></li>
			<li><a href="http://www.4cast.co.jp/" target="_blank"><img src="images/item6.png" alt="株式会社フォアキャスト・コミュニケーションズ"><span>株式会社フォアキャスト・コミュニケーションズ</span></a></li>
		</ul>
	</section>
</div>
</body>
</html>
