@charset "UTF-8";

/* styles */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
body {
	font-size: 100%;
}
a {
	text-decoration: none;
	color: #333333;
}
a:hover {
	opacity: .5;
}
img {
	width: 100%;
	height: auto;
	border: 0;
}

/*　大枠　*/
#wrapper {}

/*　ヘッダー　*/
header {
	margin-bottom: 20px;
	max-height: 300px;
	overflow: hidden;
}
header .bxslider li:not(:first-child) {
	display: none;
}
.bx-wrapper .bx-viewport {
	box-shadow: none !important;
	left: 0 !important;
	border: none !important;
}

/*　アイテム　*/
#item {
	overflow: hidden;
	position: relative;
}
#item ul {
	float: left;
	margin: 0 0 20px 0;
	position: relative;
	left: 50%;
	overflow: visible;
	list-style: none;
	width: 880px;
}
#item li {
	float: left;
	position: relative;
	left: -50%;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 200px;
}
#item li a {
	display: block;
}
#item li span {
	display: block;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 10px 10px 0 10px;
}

@media screen and (max-width: 640px){
	body {
		font-size: 170%;
	}
	#item ul {
		float: none;
		margin: 0 20px 20px 20px;
		left: 0;
		width: auto;
	}
	#item li {
		float: none;
		left: 0;
		margin-right: 0;
		width: 100%;
	}
	#item img {
		width: 100%;
	}
}